NEON_BRANCH=production
DATABASE_URL="postgresql://neondb_owner:npg_3B9KvsLjJFxP@ep-flat-dew-ayftu7m6-pooler.c-5.us-east-2.aws.neon.tech/neondb?channel_binding=require&sslmode=require"
DATABASE_URL_UNPOOLED="postgresql://neondb_owner:npg_3B9KvsLjJFxP@ep-flat-dew-ayftu7m6.c-5.us-east-2.aws.neon.tech/neondb?channel_binding=require&sslmode=require"
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=public_2nbfRG9qkBg8aGN/LEQ/gvnng2g=
IMAGEKIT_PRIVATE_KEY=private_OgtU5VBysCenYARgimCKgd4L688=
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/pgpgsrcity
OPENROUTER_API_KEY=sk-or-v1-your-openrouter-api-key-here
