# Neon
NEON_BRANCH=production
DATABASE_URL="postgresql://neondb_owner:npg_3B9KvsLjJFxP@ep-flat-dew-ayftu7m6-pooler.c-5.us-east-2.aws.neon.tech/neondb?channel_binding=require&sslmode=require"
DATABASE_URL_UNPOOLED="postgresql://neondb_owner:npg_3B9KvsLjJFxP@ep-flat-dew-ayftu7m6.c-5.us-east-2.aws.neon.tech/neondb?channel_binding=require&sslmode=require"

# ImageKit (for member photo uploads)
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=public_2nbfRG9qkBg8aGN/LEQ/gvnng2g=
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/pgpgsrcity
IMAGEKIT_PRIVATE_KEY=private_OgtU5VBysCenYARgimCKgd4L688=

# OpenRouter (for Knyte chatbot AI responses)
OPENROUTER_API_KEY=ysk-or-v1-1980d0e782f69fb1656d329e0273dceb07ce4547ff00cd425639a9521de86ae8